# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/

# PyInstaller / Build artifacts
build/
dist/
src/build/
src/dist/
*.spec
src/*.spec

# Binary releases & zips (Distributed via GitHub Releases)
releases/**/*.exe
releases/**/*.zip
*.exe
*.zip

# Logs & temporary files
*.log
src/*.log
tests/*.log
.DS_Store
.vscode/
.idea/
